* {
  color: #b5fc76;
  margin: 0;
  text-align: center;
}

body {
  background-color: #61873c;
  font-family: 'Black Ops One';
}

h1 {
  color: blue;
}

span {
  color: #243019;
}

button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: #c9e7ff;
  display: none;
  margin: auto;
  margin-bottom: 5px;
}

#game {
  border: 2px solid;
  border-color: #243019;
  border-radius: 10px;
  margin: auto;
  display: block;
}

img {
  display: none;
}